
.dashboard-main {
    padding: 3rem 0;
}


.dashboard {
    min-height: 70vh;
    max-width: 300px;
    background-color: $dark_green;
    border-radius: 2rem;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 1rem;
    
    @extend %flex-center-col;

    >h1,
    h2 {
        background-color: $white;
        padding: 1rem 2rem;
        margin: 2rem;
        width: auto;
        font-weight: bold;
        text-align: center;
    }


    >div {
        background-color: $light_green;
        padding: 1rem 2rem;
        margin: 2rem;
        width: 15rem;
        border-radius: 8px;
        color: $white;
        text-align: center;
        
        &:hover {
            background-color: skyblue;
        }
    }

}


@media screen and (min-width: 780px) {

    .dashboard {
        max-width: 600px;
        
        h1,
        h2,
        a {
            font-size: 1.2rem;
        }
        
        div {
            width: 25rem;
            padding: 1.5rem 2rem;
        }

    }
}
    
@media screen and (min-width: 1024px) {
    
    .dashboard {
        max-width: 900px;

    }

}
