// Authorized and imposed colors
$white                  : #fff;
$black                  : #333;    
$light_green            : #14C81A;
$dark_blue              : #090965;
$dark_green             : #0D6762;
$background_white       : rgba(255,255,255, 0.3);
$background_black       : rgba(0, 0, 0, 0.2);
$light_blue             : rgba(160, 206, 209, 0.2);
$city_Lights            : #DFE6E9;